<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.relsellglobal.crk.app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".util.Utility"
        android:allowBackup="true"
        android:icon="@mipmap/ss_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.relsellglobal.crk.app.ContactUsActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"  />
        <activity android:name="com.relsellglobal.crk.app.ServicesActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"  />
        <activity android:name="com.relsellglobal.crk.app.CrkModifiedMainActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.relsellglobal.crk.app.SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/search_bar"/>
        </activity>
        <provider android:name=".contentproviders.QuotesProvider" android:authorities="com.relsellglobal.crk.app.contentproviders.QuotesProvider" />

        <receiver android:name=".CrkAlarmReceiver"></receiver>
        <service android:name=".CrkClientServicerSyncService" />

        <receiver android:name=".SampleBootReceiver"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>


    </application>

</manifest>